<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create Books</title>
</head>
<body>
<h1>Create User</h1>
<form action="#" th:action="@{/books/add}" th:object="${books}" method="post">
    <label>title:</label><br/>
    <input type="text" th:field="*{title}"/><br/><br/>
    <label>Author:</label><br/>
    <input type="text" th:field="*{author}"/><br/><br/>
    <label>Edition:</label><br/>
    <input type="text" th:field="*{edition}"/><br/><br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>